In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from pandas.plotting import scatter_matrix
from sklearn import cluster
from scipy import stats  ## for z-score. do we still need it?

In [2]:
# Read crime data
crimedata = pd.read_csv('Data_tables_Criminal_Incidents_Visualisation_year_ending_March_2018.csv')
crimedata.head()

,Year ending March,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,646
1,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,129
2,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,601
3,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,108
4,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",142

# Process the data

In [3]:
crimedata['Incidents Recorded'] = crimedata['Incidents Recorded'].str.replace(',', '')
crimedata['Incidents Recorded'] = crimedata['Incidents Recorded'].apply(pd.to_numeric)

crimedata.dtypes

Year ending March       int64
Postcode                int64
Suburb/Town Name       object
Offence Division       object
Offence Subdivision    object
Offence Subgroup       object
Incidents Recorded      int64
dtype: object

In [4]:
# Sort offenses by Offence Division to identify targeted crimes that take place in public

crimedata['Offence Division'].value_counts()

B Property and deception offences       117983
A Crimes against the person              74194
D Public order and security offences     34835
E Justice procedures offences            24523
C Drug offences                          19833
F Other offences                          6385
Name: Offence Division, dtype: int64

In [5]:
mask_public = crimedata.isin({'Offence Division': ['A Crimes against the person','D Public order and security offences']}).any(1)
crimedata = crimedata.loc[mask_public]

crimedata.head()

,Year ending March,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,646
1,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,129
2,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,601
3,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,108
4,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",142

In [6]:
crimedata['Offence Division'].value_counts()

A Crimes against the person             74194
D Public order and security offences    34835
Name: Offence Division, dtype: int64

In [7]:
# Sort offenses by Offence Subdivision to identify targeted crimes that are targeted at a person(s)

crimedata['Offence Subdivision'].value_counts()

A20 Assault and related offences                       33221
A70 Stalking, harassment and threatening behaviour     17804
D20 Disorderly and offensive conduct                   16929
D10 Weapons and explosives offences                    11833
A80 Dangerous and negligent acts endangering people    10158
Other crimes against the person                         8378
D30 Public nuisance offences                            5778
A50 Robbery                                             4633
D40 Public security offences                             295
Name: Offence Subdivision, dtype: int64

In [8]:
mask_targeted = ~crimedata.isin({'Offence Subdivision': ['A50 Robbery','Weapons and explosives offences', 'Other crimes against the person']}).any(1)
crimedata = crimedata.loc[mask_targeted]

crimedata.head()

,Year ending March,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,646
1,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,129
2,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,601
3,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,108
4,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",142

In [9]:
crimedata['Offence Subdivision'].value_counts()

A20 Assault and related offences                       33221
A70 Stalking, harassment and threatening behaviour     17804
D20 Disorderly and offensive conduct                   16929
D10 Weapons and explosives offences                    11833
A80 Dangerous and negligent acts endangering people    10158
D30 Public nuisance offences                            5778
D40 Public security offences                             295
Name: Offence Subdivision, dtype: int64

In [10]:
# Sort offenses by Offence Subgroup to identify that are of non domestic in nature

crimedata['Offence Subgroup'].value_counts()

A231 FV Common assault                                                7739
A212 Non-FV Serious assault                                           7654
A211 FV Serious assault                                               7506
A232 Non-FV Common assault                                            6589
D12 Prohibited and controlled weapons offences                        5331
D22 Drunk and disorderly in public                                    5271
D11 Firearms offences                                                 5254
A89 Other dangerous or negligent acts endangering people              5209
D23 Offensive conduct                                                 4513
A732 Non-FV Threatening behaviour                                     4361
A731 FV Threatening behaviour                                         4043
A22 Assault police, emergency services or other authorised officer    3733
D35 Improper movement on public or private space                      3651
A712 Non-FV Stalking                                                  3342
A83 Throw or discharge object endangering people                      2791
A711 FV Stalking                                                      2672
D24 Offensive language                                                2502
D25 Criminal intent                                                   2145
A722 Non-FV Harassment and private nuisance                           2075
A81 Dangerous driving                                                 1730
D21 Riot and affray                                                   1505
A721 FV Harassment and private nuisance                               1311
D13 Explosives offences                                               1248
D26 Disorderly conduct                                                 993
D32 Hoaxes                                                             803
D36 Other public nuisance offences                                     767
A82 Neglect or ill treatment of people                                 428
D33 Begging                                                            300
D43 Hacking                                                            260
D31 Privacy offences                                                   255
D49 Other public security offences                                      17
D44 Terrorism offences                                                  13
D41 Immigration offences                                                 4
D34 Defamation and libel                                                 2
D42 Sabotage                                                             1
Name: Offence Subgroup, dtype: int64

In [11]:
crimedata[['Offence Subgroup Code', 'Offence Subgroup Name']] = crimedata['Offence Subgroup'].str.split(' ', n=1, expand = True)

In [12]:
crimedata.head()

,Year ending March,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,Offence Subgroup Code,Offence Subgroup Name
0,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,646,A232,Non-FV Common assault
1,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,129,A231,FV Common assault
2,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,601,A212,Non-FV Serious assault
3,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,108,A211,FV Serious assault
4,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",142,A22,"Assault police, emergency services or other au..."

In [13]:
mask_nondomestic = ~crimedata.isin({'Offence Subgroup Code': ['A231', 'A211', 'A731', 'A711', 'A721' ]}).any(1)
crimedata = crimedata.loc[mask_nondomestic]

In [14]:
crimedata['Offence Subgroup'].value_counts()

A212 Non-FV Serious assault                                           7654
A232 Non-FV Common assault                                            6589
D12 Prohibited and controlled weapons offences                        5331
D22 Drunk and disorderly in public                                    5271
D11 Firearms offences                                                 5254
A89 Other dangerous or negligent acts endangering people              5209
D23 Offensive conduct                                                 4513
A732 Non-FV Threatening behaviour                                     4361
A22 Assault police, emergency services or other authorised officer    3733
D35 Improper movement on public or private space                      3651
A712 Non-FV Stalking                                                  3342
A83 Throw or discharge object endangering people                      2791
D24 Offensive language                                                2502
D25 Criminal intent                                                   2145
A722 Non-FV Harassment and private nuisance                           2075
A81 Dangerous driving                                                 1730
D21 Riot and affray                                                   1505
D13 Explosives offences                                               1248
D26 Disorderly conduct                                                 993
D32 Hoaxes                                                             803
D36 Other public nuisance offences                                     767
A82 Neglect or ill treatment of people                                 428
D33 Begging                                                            300
D43 Hacking                                                            260
D31 Privacy offences                                                   255
D49 Other public security offences                                      17
D44 Terrorism offences                                                  13
D41 Immigration offences                                                 4
D34 Defamation and libel                                                 2
D42 Sabotage                                                             1
Name: Offence Subgroup, dtype: int64

In [15]:
# Remove any other offenses that are not relevant

mask_irrelevant = ~crimedata.isin({'Offence Subgroup Code': ['D12', 'D11', 'A22', 'D25', 'A82', 'D33', 'D43', 'D31', 'D44'
                                                            ,'D41', 'D34', 'D42']}).any(1)
crimedata = crimedata.loc[mask_irrelevant]

In [16]:
crimedata['Offence Subgroup'].value_counts()

A212 Non-FV Serious assault                                 7654
A232 Non-FV Common assault                                  6589
D22 Drunk and disorderly in public                          5271
A89 Other dangerous or negligent acts endangering people    5209
D23 Offensive conduct                                       4513
A732 Non-FV Threatening behaviour                           4361
D35 Improper movement on public or private space            3651
A712 Non-FV Stalking                                        3342
A83 Throw or discharge object endangering people            2791
D24 Offensive language                                      2502
A722 Non-FV Harassment and private nuisance                 2075
A81 Dangerous driving                                       1730
D21 Riot and affray                                         1505
D13 Explosives offences                                     1248
D26 Disorderly conduct                                       993
D32 Hoaxes                                                   803
D36 Other public nuisance offences                           767
D49 Other public security offences                            17
Name: Offence Subgroup, dtype: int64

# Calculate weights for each crime based on severity

In [17]:
# Function to calculate severity of crime. The severity is out of 10.

def crime_severity (row):
    if row['Offence Subgroup Code'] == 'A212' :
        return 10
    if row['Offence Subgroup Code'] == 'A232' :
        return 10
    if row['Offence Subgroup Code'] == 'D22' :
        return 4
    if row['Offence Subgroup Code'] == 'A89' :
        return 7
    if row['Offence Subgroup Code'] == 'D23' :
        return 5
    if row['Offence Subgroup Code'] == 'A732' :
        return 7
    if row['Offence Subgroup Code'] == 'D35' :
        return 4
    if row['Offence Subgroup Code'] == 'A712' :
        return 10
    if row['Offence Subgroup Code'] == 'A83' :
        return 7
    if row['Offence Subgroup Code'] == 'D24' :
        return 3
    if row['Offence Subgroup Code'] == 'A722' :
        return 8
    if row['Offence Subgroup Code'] == 'A81' :
        return 7
    if row['Offence Subgroup Code'] == 'D21' :
        return 6
    if row['Offence Subgroup Code'] == 'D13' :
        return 6
    if row['Offence Subgroup Code'] == 'D26' :
        return 5
    if row['Offence Subgroup Code'] == 'D32' :
        return 7
    if row['Offence Subgroup Code'] == 'D36' :
        return 7
    if row['Offence Subgroup Code'] == 'D49' :
        return 7

In [18]:
crime_processed = crimedata.copy(deep=True)

crime_processed['Crime Severity'] = crime_processed.apply (lambda row: crime_severity (row),axis=1)

crime_processed.head()

,Year ending March,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,Offence Subgroup Code,Offence Subgroup Name,Crime Severity
0,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,646,A232,Non-FV Common assault,10
2,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,601,A212,Non-FV Serious assault,10
7,2018,3000,MELBOURNE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A732 Non-FV Threatening behaviour,75,A732,Non-FV Threatening behaviour,7
9,2018,3000,MELBOURNE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A722 Non-FV Harassment and private nuisance,20,A722,Non-FV Harassment and private nuisance,8
11,2018,3000,MELBOURNE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A712 Non-FV Stalking,21,A712,Non-FV Stalking,10

In [19]:
# Select most recent crime data from 2018

crime_processed = crime_processed.loc[(crime_processed['Year ending March'] == 2018)]
crime_processed.head()

,Year ending March,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,Offence Subgroup Code,Offence Subgroup Name,Crime Severity
0,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,646,A232,Non-FV Common assault,10
2,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,601,A212,Non-FV Serious assault,10
7,2018,3000,MELBOURNE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A732 Non-FV Threatening behaviour,75,A732,Non-FV Threatening behaviour,7
9,2018,3000,MELBOURNE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A722 Non-FV Harassment and private nuisance,20,A722,Non-FV Harassment and private nuisance,8
11,2018,3000,MELBOURNE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A712 Non-FV Stalking,21,A712,Non-FV Stalking,10

In [20]:
# Function to calculate severity score per postcode. 

def severity_score (row):
    return row['Incidents Recorded'] * row['Crime Severity']

In [21]:
crime_processed['Severity Total Score'] = crime_processed.apply (lambda row: severity_score (row),axis=1)
crime_processed.head()

,Year ending March,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,Offence Subgroup Code,Offence Subgroup Name,Crime Severity,Severity Total Score
0,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,646,A232,Non-FV Common assault,10,6460
2,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,601,A212,Non-FV Serious assault,10,6010
7,2018,3000,MELBOURNE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A732 Non-FV Threatening behaviour,75,A732,Non-FV Threatening behaviour,7,525
9,2018,3000,MELBOURNE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A722 Non-FV Harassment and private nuisance,20,A722,Non-FV Harassment and private nuisance,8,160
11,2018,3000,MELBOURNE,A Crimes against the person,"A70 Stalking, harassment and threatening behav...",A712 Non-FV Stalking,21,A712,Non-FV Stalking,10,210

In [22]:
crime_processed['Year ending March'].value_counts()

2018    6215
Name: Year ending March, dtype: int64

In [23]:
crime_processed['Suburb/Town Name'].value_counts()

MORWELL             18
MELBOURNE           18
MILDURA             17
WERRIBEE            17
FITZROY             17
FRANKSTON           17
WARRNAMBOOL         17
SHEPPARTON          16
PAKENHAM            16
BENALLA             16
HAMILTON            16
TRARALGON           16
CRANBOURNE          16
DANDENONG           16
ST KILDA            16
ECHUCA              16
NORTH MELBOURNE     15
RICHMOND            15
SOUTH YARRA         15
WODONGA             15
CAROLINE SPRINGS    15
DOCKLANDS           15
NARRE WARREN        15
SALE                15
NORLANE             15
WANGARATTA          15
ST ALBANS           15
GEELONG             15
CRAIGIEBURN         15
EPPING              15
                    ..
BALMATTUM            1
GLENGARRY NORTH      1
LOCKWOOD SOUTH       1
TATYOON              1
MARKWOOD             1
YAMBUNA              1
KY VALLEY            1
LONGWARRY NORTH      1
GLADYSDALE           1
COBURG EAST          1
AVONSLEIGH           1
SUNDAY CREEK         1
RUBICON              1
OCEAN GRANGE         1
KOOYONG              1
GARFIELD NORTH       1
WANGARATTA NORTH     1
MURCHISON            1
KINGLAKE CENTRAL     1
BRUCKNELL            1
EDDINGTON            1
SUMMERLANDS          1
KOOROOMAN            1
HEPBURN              1
DRUMBORG             1
HAVELOCK             1
WHITEHEADS CREEK     1
DARRAWEIT GUIM       1
NOWIE                1
ASCOT                1
Name: Suburb/Town Name, Length: 1265, dtype: int64

In [24]:
crime_processed['Offence Division'].value_counts()

A Crimes against the person             3953
D Public order and security offences    2262
Name: Offence Division, dtype: int64

In [25]:
crime_processed['Offence Subdivision'].value_counts()

A20 Assault and related offences                       1521
D20 Disorderly and offensive conduct                   1507
A80 Dangerous and negligent acts endangering people    1317
A70 Stalking, harassment and threatening behaviour     1115
D30 Public nuisance offences                            618
D10 Weapons and explosives offences                     133
D40 Public security offences                              4
Name: Offence Subdivision, dtype: int64

In [26]:
crime_processed['Incidents Recorded'].value_counts()

1       2681
2       1046
3        506
4        381
5        279
6        189
9        119
7        119
8        107
10        76
13        61
11        59
12        52
14        43
17        32
16        31
15        27
19        27
20        24
18        22
23        19
22        17
24        16
26        16
21        14
28        13
25        13
30        12
27        11
31         8
        ...
276        1
36         1
199        1
207        1
232        1
129        1
452        1
139        1
71         1
79         1
646        1
170        1
142        1
126        1
86         1
82         1
78         1
66         1
403        1
107        1
601        1
245        1
145        1
113        1
105        1
77         1
69         1
115        1
135        1
1343       1
Name: Incidents Recorded, Length: 110, dtype: int64

In [27]:
crime_processed['Offence Subgroup Code'].value_counts()

A212    782
A232    739
A89     638
D22     569
A732    486
D35     446
D23     426
A81     368
A712    343
A83     311
A722    286
D24     254
D21     164
D13     133
D32      98
D26      94
D36      74
D49       4
Name: Offence Subgroup Code, dtype: int64

In [28]:
crime_processed['Offence Subgroup Name'].value_counts()

Non-FV Serious assault                                  782
Non-FV Common assault                                   739
Other dangerous or negligent acts endangering people    638
Drunk and disorderly in public                          569
Non-FV Threatening behaviour                            486
Improper movement on public or private space            446
Offensive conduct                                       426
Dangerous driving                                       368
Non-FV Stalking                                         343
Throw or discharge object endangering people            311
Non-FV Harassment and private nuisance                  286
Offensive language                                      254
Riot and affray                                         164
Explosives offences                                     133
Hoaxes                                                   98
Disorderly conduct                                       94
Other public nuisance offences                           74
Other public security offences                            4
Name: Offence Subgroup Name, dtype: int64

In [29]:
crime_processed['Crime Severity'].value_counts()

7     1979
10    1864
4     1015
5      520
6      297
8      286
3      254
Name: Crime Severity, dtype: int64

In [30]:
crime_processed.drop(['Year ending March','Suburb/Town Name','Offence Division','Offence Subdivision',
                      'Incidents Recorded','Offence Subgroup Code','Offence Subgroup Name','Crime Severity'], axis=1, inplace=True, errors='raise')

In [31]:
crime_processed = crime_processed.groupby(['Postcode'], as_index=False).agg({'Severity Total Score':sum})

In [32]:
crime_processed.head()

   Postcode  Severity Total Score
0      3000                 22498
1      3002                   681
2      3003                   524
3      3006                  3266
4      3008                  2058

In [33]:
crime_processed[crime_processed.duplicated(keep=False)].sort_values(by=['Postcode'])

Empty DataFrame
Columns: [Postcode, Severity Total Score]
Index: []

# Join with postcodes to get average gps position of each postcode

In [34]:
# Read postcode data
postcode_loc = pd.read_csv('Australian_Post_Codes_Lat_Lon.csv')
postcode_loc.head()

,postcode,suburb,state,dc,type,lat,lon
0,200,AUSTRALIAN NATIONAL UNIVERSITY,ACT,AUSTRALIAN NATIONAL UNI LPO,Post Office Boxes,-35.277272,149.117136
1,221,BARTON,ACT,NaN,LVR,-35.201372,149.095065
2,800,DARWIN,NT,DARWIN DELIVERY CENTRE,Delivery Area,-12.801028,130.955789
3,801,DARWIN,NT,DARWIN DELIVERY CENTRE,Post Office Boxes,-12.801028,130.955789
4,804,PARAP,NT,PARAP,Post Office Boxes,-12.432181,130.843310

In [35]:
postcode_loc.shape

(16080, 7)

In [36]:
postcode_loc = postcode_loc.groupby(['postcode'], as_index=False).mean()
postcode_loc.head()

   postcode        lat         lon
0         0        NaN         NaN
1       200 -35.277272  149.117136
2       221 -35.201372  149.095065
3       800 -12.801028  130.955789
4       801 -12.801028  130.955789

In [37]:
postcode_loc[postcode_loc.duplicated(keep=False)].sort_values(by=['postcode'])

Empty DataFrame
Columns: [postcode, lat, lon]
Index: []

In [38]:
crime_processed = crime_processed.set_index('Postcode').join(postcode_loc.set_index('postcode'))

In [39]:
crime_processed.reset_index()

     Postcode  Severity Total Score        lat         lon
0        3000                 22498 -37.814563  144.970267
1        3002                   681 -37.816640  144.987811
2        3003                   524 -37.806255  144.941123
3        3006                  3266 -37.823258  144.965926
4        3008                  2058 -37.814719  144.948039
5        3011                  2246 -37.801199  144.887090
6        3012                   729 -37.800197  144.867860
7        3013                   359 -37.817099  144.886678
8        3015                   496 -37.835258  144.879655
9        3016                   675 -37.857292  144.892369
10       3018                   398 -37.868634  144.836948
11       3019                   531 -37.819588  144.930285
12       3020                  3276 -37.783259  144.819402
13       3021                  2213 -37.741901  144.794111
14       3022                   135 -37.761868  144.799442
15       3023                  1829 -37.758431  144.754363
16       3024                   741 -37.852225  144.598507
17       3025                   510 -37.834611  144.850996
18       3026                   229 -37.841653  144.795959
19       3027                   199 -37.859941  144.760517
20       3028                   970 -37.872066  144.765867
21       3029                  2920 -37.843793  144.714040
22       3030                  3179 -37.887926  144.662583
23       3031                  1642 -37.791354  144.930344
24       3032                  1172 -37.774776  144.907050
25       3033                   319 -37.736264  144.796336
26       3034                   113 -37.742284  144.815150
27       3036                    99 -37.711868  144.824197
28       3037                   843 -37.704359  144.762975
29       3038                   909 -37.704801  144.793404
..        ...                   ...        ...         ...
573      3937                    67 -38.376272  145.017562
574      3938                    72 -37.990225  145.219560
575      3939                   662 -38.399949  144.900677
576      3940                   214        NaN         NaN
577      3941                   574 -38.384637  144.836906
578      3942                    39 -38.359005  144.768511
579      3943                   109 -38.344297  144.738070
580      3944                    37 -38.338347  144.709285
581      3950                   211 -38.424964  145.837657
582      3953                   188 -38.428932  145.992705
583      3954                    15 -38.547015  145.948111
584      3956                    76 -38.652641  146.016166
585      3959                    35 -38.757893  146.091958
586      3960                    63 -38.694374  146.250080
587      3962                    24 -38.599705  146.363523
588      3966                    15 -38.625918  146.421884
589      3971                   205 -38.559322  146.639867
590      3975                   297 -38.051866  145.250937
591      3976                   697 -38.032221  145.267863
592      3977                  3197 -38.127919  145.268620
593      3978                   196 -38.133140  145.361623
594      3980                   107 -38.214145  145.344774
595      3981                    93 -38.199371  145.574636
596      3984                   306 -38.340074  145.529144
597      3987                    41 -38.333067  145.670441
598      3988                    30 -38.311895  145.812910
599      3991                    24 -38.480541  145.467733
600      3992                    48 -38.544472  145.593312
601      3995                   738 -38.579173  145.578648
602      3996                    93 -38.630415  145.769168

[603 rows x 4 columns]

In [40]:
crime_processed.to_csv('crimes_weighted.csv', index=False)