In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from pandas.plotting import scatter_matrix
from sklearn import cluster
from scipy import stats  ## for z-score. do we still need it?

In [2]:
# Read speeds
speeds = pd.read_csv('speeds_processed.csv',sep=",")

speeds.head()

,location index,lat,lon,mean_speed,std_speed,week_hour
0,0,-38.100617,145.488326,"73.82, 82.73, 84.695, 79.11, 76.4425, 66.62, 5...","0.0, 0.0, 5.225000000000001, 11.54999999999999...",0
1,1,-38.062604,145.367474,"56.12142857142857, 56.995000000000005, 70.1566...","11.149351587259527, 23.845000000000002, 9.8312...",0
2,2,-38.357822,144.757135,"65.52666666666666, 59.155, 46.449999999999996,...","2.6402819714736676, 2.6219982837522977, 17.928...",0
3,3,-38.355186,144.752776,"76.262, 72.418, 68.33, 73.508, 77.43, 76.47, 7...","1.930444508396961, 2.806730482251543, 4.724785...",0
4,4,-38.351950,144.918912,"58.82400000000001, 55.13249999999999, 50.87999...","4.580648862333807, 4.693273777439369, 18.31367...",0

In [3]:
# Read crash
crashes_ = pd.read_csv('Crashes_Last_Five_Years.csv',sep="	")

crashes_.head()

,X,Y,OBJECTID,ACCIDENT_NO,ABS_CODE,ACCIDENT_STATUS,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,...,DEG_URBAN_ALL,LGA_NAME_ALL,REGION_NAME_ALL,SRNS,SRNS_ALL,RMA,RMA_ALL,DIVIDED,DIVIDED_ALL,STAT_DIV_NAME
0,145.060690,-37.810373,2693452,T20120013207,ABS to receive accident,Finished,26/5/2012,11.40.00,No,Collision with vehicle,...,Metropolitan Excluding CBD,BOROONDARA,METROPOLITAN SOUTH EAST REGION,NaN,NaN,Arterial Other,Arterial Other,Undivided,Undivided,Metro
1,144.991172,-37.883157,2693453,T20120013209,ABS to receive accident,Finished,6/6/2012,15.40.00,No,Collision with vehicle,...,Metropolitan Excluding CBD,PORT PHILLIP,METROPOLITAN NORTH WEST REGION,NaN,NaN,Arterial Other,"Arterial Other,Local Road",Undivided,Undivided,Metro
2,145.009458,-37.826952,2693454,T20120013212,ABS to receive accident,Finished,24/5/2012,09.00.00,No,Collision with vehicle,...,Metropolitan Excluding CBD,YARRA,METROPOLITAN NORTH WEST REGION,NaN,NaN,Arterial Other,"Arterial Other,Local Road",Undivided,Undivided,Metro
3,145.134597,-37.841546,2693455,T20120013213,ABS to receive accident,Finished,6/6/2012,17.02.00,No,Struck Pedestrian,...,Metropolitan Excluding CBD,WHITEHORSE,METROPOLITAN SOUTH EAST REGION,NaN,NaN,Local Road,Local Road,Undivided,Undivided,Metro
4,145.294600,-37.888597,2693456,T20120013219,ABS to receive accident,Finished,22/5/2012,16.30.00,No,Collision with vehicle,...,Metropolitan Excluding CBD,KNOX,METROPOLITAN SOUTH EAST REGION,NaN,NaN,Arterial Highway,"Arterial Highway,Local Road,Arterial Other",Undivided,Undivided,Metro

In [4]:
speeds = speeds.rename(columns={'Lon': 'LONGITUDE', 'Lat': 'LATITUDE'})

In [5]:
crashes = crashes_.drop(['X', 'Y', 'OBJECTID', 'ACCIDENT_NO', 'ABS_CODE', 'ACCIDENT_STATUS', 'DCA_CODE', 'NODE_ID','VICGRID_X', 
                        'LGA_NAME_ALL', 'REGION_NAME_ALL', 'RMA', 'RMA_ALL', 'DIVIDED', 'DIVIDED_ALL', 'STAT_DIV_NAME', 'VICGRID_Y', 'DEG_URBAN_NAME','DEG_URBAN_ALL'], axis=1)

del(crashes_)

In [7]:
#Do a cross join

# speeds['tmp'] = 1
# crashes['tmp'] = 1

# speeds_crashes = pd.merge(speeds, crashes, on=['tmp'])
# speeds_crashes = speeds_crashes.drop('tmp', axis=1)



import itertools

def cartesian(df1, df2):
    rows = itertools.product(df1.iterrows(), df2.iterrows())

    df = pd.DataFrame(left.append(right) for (_, left), (_, right) in rows)
    return df.reset_index(drop=True)

speeds_crashes = cartesian(speeds, crashes)

MemoryError: